
<!-- 公共模板文件 使用方式1：两个@加上include("include("footer.html")  -->
<!-- 
    模板文件 使用方式2：两个@加上include("include("footer.html",{"index":0}) 
    加上{"index":0})添加对应类名"active"样式
-->
<!-- 注释里面不能写两个@ -->
<footer class="footer">
    <a href="javascript:;" @@if(context.index == 0 ){class='active' }>
        <span class="fa fa-home"></span>
        <div>首页</div>
    </a>
    <a href="javascript:;" @@if(context.index == 1 ){class='active' }>
        <span class="fa fa-list-ul"></span>
        <div>分类</div>
    </a>
    <a href="javascript:;" @@if(context.index ==2 ){class='active' }>
        <span class="fa fa-cart-plus"></span>
        <div>购物车</div>
    </a>
    <a href="javascript:;" @@if(context.index ==3 ){class='active' }>
        <span class="fa fa fa-user"></span>
        <div>我的</div>
    </a>
</footer>